<!-- Top app bar -->
<mdc-top-app-bar [scrollTarget]="content">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="{{ appManager.title }}">
      <button mdcTopAppBarNavIcon *ngIf="drawerManager.start.available" (click)="drawerManager.start.toggle()">
        <mdc-icon>{{ drawerManager.start.icon }}</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section style="justify-content: center">
      <app-clock></app-clock>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <button mdcTopAppBarNavIcon (click)="showAppPicker()">
        <mdc-icon>apps</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<!-- Drawers -->
<mdc-drawer class="app-drawer" drawer="modal" #drawerStart>
  <ng-container #drawerStartContainer></ng-container>
</mdc-drawer>
<mdc-drawer class="app-drawer" drawer="modal" dir="rtl" #drawerEnd>
  <ng-container #drawerEndContainer></ng-container>
</mdc-drawer>
<!-- Content -->
<div #content mdcTopAppBarFixedAdjust mdcDrawerAppContent class="app-content grey lighten-2">
  <router-outlet></router-outlet>
</div>
