<!-- Top app bar -->
<mdc-top-app-bar [scrollTarget]="content">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Nexus">
      <button mdcTopAppBarNavIcon *ngIf="drawerManager.start.available" (click)="drawerManager.start.toggle()">
        <mdc-icon>menu</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      <button mdcTopAppBarNavIcon>
        <mdc-icon>apps</mdc-icon>
      </button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<!-- Drawers -->
<mdc-drawer drawer="modal" #drawerStart>
  <mdc-drawer-header>
    <h3 mdcDrawerTitle>{{ drawerManager.start.title }}</h3>
  </mdc-drawer-header>
  <mdc-drawer-content>
    <ng-container #drawerStartContainer></ng-container>
  </mdc-drawer-content>
</mdc-drawer>
<mdc-drawer drawer="modal" dir="rtl" #drawerEnd>
  <mdc-drawer-header>
    <h3 mdcDrawerTitle>{{ drawerManager.end.title }}</h3>
  </mdc-drawer-header>
  <mdc-drawer-content dir="rtl">
    <ng-container #drawerEndContainer></ng-container>
  </mdc-drawer-content>
</mdc-drawer>
<!-- Content -->
<div #content mdcTopAppBarFixedAdjust mdcDrawerAppContent>
  <!-- Router content -->
  <router-outlet></router-outlet>
</div>
