.app-drawer {
  padding-top: 8px;
  padding-bottom: 8px;
}

.app-content {
  height: calc(100vh - 64px);
  display: flex;

  ::ng-deep > router-outlet + * {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: calc(100vh - 64px - 16px);
    min-height: 0;
  }
}

// Remove the dotted line around buttons on Firefox
button::-moz-focus-inner {
  border: 0;
}
