<mdc-card class="flex">
  <ng-container *ngIf="context">
    <div class="item-info padding-8 flex-row">
      <img src="{{ context.item.album.images[1].url }}" alt="" class="thumbnail">

      <div class="flex flex-column margin-left-8">
        <div mdcHeadline4><b>{{ context.item.name }}</b></div>
        <div mdcHeadline5>{{ context.item.album.name }}</div>
        <div mdcHeadline5>{{ context.item.album.artists[0].name }}</div>
      </div>
    </div>

    <div class="controls padding-8">

    </div>
  </ng-container>


</mdc-card>
