<mdc-card-actions class="header">
  <div *ngIf="list$ | async as list" mdcButton class="header-name" style="border-bottom: 3px solid {{ list.status.color }}">
    {{ (list.folder$ | async)?.name }} / {{ list.name }}
  </div>
  <mdc-card-action-icons>
    <button mdcIconButton mdcCardAction="icon">
      <mdc-icon>filter_list</mdc-icon>
    </button>
    <button mdcIconButton mdcCardAction="icon">
      <mdc-icon>add_circle_outline</mdc-icon>
    </button>
  </mdc-card-action-icons>
</mdc-card-actions>

<div class="divider"></div>

<mdc-list class="tasks">
  <ng-container *ngFor="let task of tasks$ | async">
    <mdc-list-item class="tasks-item" [routerLink]="['/clickup/tasks', task.id]">
      <div class="item-content">{{ task.name }}</div>
      <div class="item-time-spent">{{ task.timeSpentAsReadableString() }}</div>
    </mdc-list-item>
    <mdc-list-divider padded class="tasks-divider"></mdc-list-divider>
  </ng-container>
</mdc-list>
