:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.divider {
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin: 0 12px;
}

.header {
}

.tasks {
  flex: 1;
  overflow: auto;
  padding: 0;
}
