$color-divider-light-grey: rgba(0,0,0,.12);

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.divider {
  border-bottom: 1px solid $color-divider-light-grey;
}

.header {
  max-height: 52px;

  .header-name {
    margin-left: 8px;
  }
}

.tasks {
  flex: 1;
  flex-direction: column;
  overflow: auto;
  padding: 0;
  min-height: 0;

  .tasks-item {
    display: flex;
    height: auto;
    min-height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;

    .item-content {
      flex: 1;
    }

    .item-time-spent {
      font-size: 0.75rem;
      text-align: center;
      width: 60px;
    }
  }

  .tasks-divider {
    display: flex;
  }
}
