@use '@material/button/mdc-button';

.app-picker {
  .app-picker__surface {
    max-width: none;
    width: calc(100vw - 32px);
    max-height: none;
    height: calc(100vh - 32px);
    padding-bottom: 32px;
  }

  .app-picker__close-button {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 999;
  }

  .app-picker__content {
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .app-picker__app {
      height: calc(calc(100vw - 64px) / 5);
      width: calc(calc(100vw - 64px) / 5);
      margin: 8px;
      box-sizing: border-box;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      border-radius: 4px;

      .icon {
        align-self: center;
      }
    }

    .app-picker__app--active {
      @extend .mdc-button--raised;
    }
  }
}
